Repository Game-as-a-Service/Pandemic-Reign-of-Cthulhu, pull requests merged in 2023-11, with the labels that each got.

#23 [#11] feature: model and repository of creating game
  backend/app/adapter/repository/__init__.py
  backend/app/adapter/repository/in_mem.py
  backend/app/domain/__init__.py
  backend/app/domain/game.py
  backend/app/domain/player.py
  backend/app/usecase/create_game.py
  backend/tests/e2e/test_game.py
  backend/tests/unit/test_in_mem_repo.py
  backend/tests/unit/test_investigator.py
  backend/tests/unit/test_player.py
  backend/tests/unit/usecase/test_game.py
Labels: feature, backend dev

#26 [#19] doc: edit server domain, and description of create-game endpoint
  doc/api/swagger.yaml
Labels: documentation

#28 Feature : allow players to switch between unselected investigators
  backend/README.md
  backend/app/adapter/api.py
  backend/app/domain/__init__.py
  backend/app/domain/game.py
  backend/app/dto.py
  backend/app/usecase/__init__.py
  backend/app/usecase/config_game.py
  backend/tests/e2e/test_game.py
  backend/tests/unit/test_investigator.py
  backend/tests/unit/usecase/test_game.py
Labels: feature, backend dev, software design

#33 [#27] feature : add update difficulty endpoint
  backend/app/adapter/api.py
  backend/app/domain/game.py
  backend/app/dto.py
  backend/app/usecase/__init__.py
  backend/app/usecase/config_game.py
  backend/tests/e2e/test_game.py
  backend/tests/unit/usecase/test_game.py
Labels: feature, backend dev

#34 [#10] refactor: change code due to separation of concern
  backend/app/adapter/api.py
  backend/app/adapter/presenter.py
  backend/app/domain/game.py
  backend/app/dto.py
  backend/app/usecase/__init__.py
  backend/app/usecase/config_game.py
  backend/tests/e2e/test_game.py
  backend/tests/unit/usecase/test_game.py
Labels: enhancement, backend dev

#41 [#39] feature / build : automate integration flow of frontend app
  .github/workflows/frontend_ci.yml
  frontend/.babelrc.bak
  frontend/.eslintrc.json
  frontend/.lintstagedrc.js
  frontend/README.md
  frontend/components/investigator-card/index.tsx
  frontend/eslintrc.bak
  frontend/package-lock.json
  frontend/package.json
Labels: feature, frontend dev, work flow

#42 [#32] doc: edit README.md
  LICENSE
  README.md
  backend/README.md
  doc/img/GaaS-pandemic-card-occultist.png
  doc/img/GaaS-pandemic-card-place-wharf.png
  doc/img/GaaS-pandemic-frontend-map-sample.png
  doc/img/board-game-pandemic-cthulhu.png
Labels: documentation
